.dashboard-page .box {
  margin: 30px 0px;
}

.dashboard-page {
  background-image: url(../../assets/login_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  min-height: 100vh;
}

.dashboard-page .bg {
  padding: 30px 20px 70px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  margin: auto;
  display: block;
}

.dashboard-page .button {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  border-radius: 30px;
}
.dashboard-page .button:hover {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #8137cc 0%, #284df1 84%);
}

.dashboard-page p {
  font-size: 20px;
}
