.form-stop-page {
  background-image: url(../../assets/login_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  min-height: 100vh;
}

.form-stop-page .stop-button,
.form-stop-page .dashboard-button {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-top: 10px;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.form-stop-page .stop-button:hover,
.form-stop-page .dashboard-button:hover {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #8137cc 0%, #284df1 84%);
}
.form-stop-page .card {
  padding: 30px 10px 70px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-stop-page .card:hover {
  box-shadow: 8px 12px 16px 0 rgba(0, 0, 0, 0.2),
    8px 14px 28px 0 rgba(0, 0, 0, 0.19);
}

.form-stop-page input {
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.form-stop-page .input-label {
  margin-left: 5%;
  font-weight: 500;
}
@media (max-width: 576px) {
  .form-stop-page .card {
    padding: 30px 4px 70px 4px;
  }
  .form-stop-page input {
    width: 100%;
  }
}
